body{
    display:flex;
    justify-content:center;
    background-image: url(images/fire_background.jpg);
}
nav{
    display:flex;
    justify-content:center;
}
#container{
    box-sizing:border-box;
    width:1018px;
    border:1px solid black;
    padding:7px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow: 4px 4px 8px gold;
}
canvas{
    border: 1px solid black;
    box-sizing:border-box;
}
a:link, a:visited{
    display:inline-block;
    background-color:yellow;
    padding:10px;
    margin:20px;

}
.player{
    width: 720px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 210px;
}
.computer{
    width: 720px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 210px;
}
#rock_p{
    height: 150px;
    width: 175px;
}
#paper_p{
    height: 150px;
    width: 175px;
}
#scissors_p{
    height: 150px;
    width: 175px;
}
#rock_c{
    height: 150px;
    width: 175px;
}
#paper_c{
    height: 150px;
    width: 175px;
}
#scissors_c{
    height: 150px;
    width: 175px;
}
.player-heading{
    text-align: center;
}
.computer-heading{
    text-align: center;
}
#result{
    position: relative;
    left: 290px;
}
